$primary-color: #008891;
$secondary-color: #00587a;
$dark-blue: #0f3057;
$gray: #e7e7de;
$danger-color: #f05454;
$info-color: #1687a7;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Source Serif Pro', serif;
