@import '../../base.scss';

footer {
  min-height: 4rem;
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  color: white;
  margin-top: 30px;
  border-top: .5rem solid $secondary-color;
  font-family: $primary-font;
}

#footer-div{
  justify-content: center;
  text-align: center;
}